body {
  font-family: 'Signika', sans-serif;
}

.calcBtn {
  background-color: silver;
  color: black;
  width: 25px;
  height: 45px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  /* font-weight: 100; */
  padding-top: 3px;
}

.calcBtn:hover {
  background-color: aquamarine;
}

.row {
  display: table;
  table-layout: fixed;
  width: 200px;
}

.column {
  display: table-cell;
}

#calcZero {
  width: 98.6666667px;
}